<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ecnesoft.WebServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <userSettings>
        <ECNESOFT.WebServices.Properties.Settings>
            <setting name="ecnesoft_WebServices_eServerWS_WService" serializeAs="String">
                <value>http://127.0.0.1/eRESServer/WService.asmx</value>
            </setting>
        </ECNESOFT.WebServices.Properties.Settings>
    </userSettings>
</configuration>