<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <connectionStrings>
    <add name="ECNESOFT.BalanceHO.BalanceHO.Properties.Settings.whpos_bbfa2ConnectionString" connectionString="Data Source=192.168.0.253\SQLEXPRESS;Initial Catalog=whpos_bbfa2;Persist Security Info=True;User ID=ecne;Password=ecnesoft" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <log4net debug="false">
    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="C:\logs\eRES15.log"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Size"/>
      <param name="maximumFileSize" value="1000KB"/>
      <param name="DatePattern" value="yyyy.MM.dd"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>

    <root>
      <level value="DEBUG"/>
      <!-- OFF(highest), FATAL, ERROR, WARN, INFO, DEBUG, ALL(lowest) -->
      <appender-ref ref="rollingFile"/>
    </root>

  </log4net>
</configuration>
